{% extends "base.html" %} {% block title %}
<title>Track Artist Individually</title>
{% endblock %} {% block content %}
<form action="#" method="POST" class="m-3">
  <div class="input-group">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Artist Name"
      aria-label="Search"
      name="searchArtist"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </div>
</form>

<form action="/add-all" method="POST">

  {% if userPlaylists1 %}
    <div class="m-3">
  <select id="addToPlaylistSelect" class="form-select" name="addToPlaylistSelect" onchange="testFunction()">
    <option value="newPlaylist">Add to New Playlist</option>
    <option value="existingPlaylist">Add to Existing Playlist</option>
  </select>
  </div>
  
  <div class="form-floating m-3" id="newPlaylistNameDiv">
    <input type="text" class="form-control" id="newPlaylistName" name="newPlaylistName">
    <label for="newPlaylistName">New Playlist Name </label>
  </div>
  
  <div class="d-flex flex-row m-3" id="existingPlaylistDiv" style="display: none">
  <table class="table" style="display:none" id="userPlaylists1">
    <thead>
      <tr>
      <th class="text-center" style="width:20%">Playlist Art</th>
      <th class="text-center">Playlist Name</th>
      <th class="text-center"></th>
    </thead>
    </tr>
    <tbody>
  {% for playlist in userPlaylists1 %}
  <tr>
  <td style="text-align: center; vertical-align: center;"><img src={{playlist.image}} style="width:50px"></td>
  <td style="text-align: center">
    {{playlist.name}}
  </td>
  <td>
    <input type="radio" class="btn-check" name="userPlaylistID" value="{{playlist.playlistID}}" id="{{playlist.playlistID}}">
    <label class="btn btn-outline-primary" for="{{playlist.playlistID}}">Select</label>
  </td>
  </tr>
    </tbody>
  {% endfor %}
  </table>
  <table class="table" style="display:none" id="userPlaylists2">
    <thead>
      <tr>
      <th style="width:20%">Playlist Art</th>
      <th class="text-center">Playlist Name</th>
      <th class="text-center"></th>
    </thead>
    </tr>
    <tbody>
  {% for playlist in userPlaylists2 %}
  <tr>
    <td style="text-align: center; vertical-align: center;"><img src={{playlist.image}} style="width:50px"></td>
    <td style="text-align: center">
      {{playlist.name}}
    </td>
    <td>
      <input type="radio" class="btn-check" name="userPlaylistID" value="{{playlist.playlistID}}" id="{{playlist.playlistID}}">
      <label class="btn btn-outline-primary" for="{{playlist.playlistID}}">Select</label>
    </td>
  </tr>
    </tbody>
  {% endfor %}
  </table>
  <table class="table" style="display:none" id="userPlaylists3">
    <thead>
      <tr>
      <th style="width:20%">Playlist Art</th>
      <th class="text-center">Playlist Name</th>
      <th class="text-center"></th>
    </thead>
    </tr>
    <tbody>
  {% for playlist in userPlaylists3 %}
  <tr>
    <td style="text-align: center; vertical-align: center;"><img src={{playlist.image}} style="width:50px"></td>
    <td style="text-align: center">
      {{playlist.name}}
    </td>
    <td>
      <input type="radio" class="btn-check" name="userPlaylistID" value="{{playlist.playlistID}}" id="{{playlist.playlistID}}">
      <label class="btn btn-outline-primary" for="{{playlist.playlistID}}">Select</label>
    </td>
  </tr>
    </tbody>
  {% endfor %}
  </table>
  
  </div>
  
  {% endif %}
  
  {% if searchResultList %}
  <table class="table">
    <thead>
      <tr>
        <th style="width: 200px">Artist Art</th>
        <th style="text-align: center">Artist Information</th>
      </tr>
    </thead>
    <tbody>
      {% for searchResultItem in searchResultList %}

      <tr>
        <td>
          <img
            src="{{searchResultItem.picture}}"
            class="list-group-item"
            style="height: 150px; width: 150px"
          />
        </td>
        <td>
          <div
            class="d-flex flex-column align-items-center"
            style="text-align: center"
          >
            <h5 class="m-3">{{searchResultItem.name}}</h5>
            <a href="{{searchResultItem.link}}" class="mx-3">Spotify Link</a>
            <button
              type="submit"
              class="btn btn-outline-primary m-3"
              name="{{searchResultItem.name}}"
              value="{{searchResultItem.id}}"
            >
              Add All Music
            </button>
          </div>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  </form>


  <script>
    function testFunction() {
      var x = document.getElementById("addToPlaylistSelect").value;
      var y = document.getElementById("newPlaylistNameDiv");
      var z = document.getElementById("existingPlaylistDiv");
      var a = document.getElementById("userPlaylists1");
      var b = document.getElementById("userPlaylists2");
      var c = document.getElementById("userPlaylists3");
      if (x == "newPlaylist") {
        y.style.display = "block";
        z.style.display = "none";
        a.style.display = "none";
        b.style.display = "none";
        c.style.display = "none";
      };
      
      if (x == "existingPlaylist") {
        y.style.display = "none";
        z.style.display = "block";
        a.style.display = "table";
        b.style.display = "table";
        c.style.display = "table";
      };
      
    }
    </script>
{% endblock %}
