{% extends "base.html" %} {% block title %}
<title>New Music</title>
<head>
</head>
{% endblock %} {% block content %}

<select id="test" onchange="testFunction()">
  <option value="test1">test1</option>
    <option value="test2">test2</option>
</select>

<div id="test3">Toggle hide and show</div>

<h1 class="m-3 text-center">New Music</h1>
{% if not userTags %}
<p class="m-3 text-center select-row">
  Please add artists to track either by 
  <a href="track-artists">playlist</a> or <a href="track">individually</a>.
</p>
{% endif %}
<form class="m-3" action="/newmusic" method="POST">
<div class="d-flex">
{% for tag in userTags %}
<input type="checkbox" class="btn-check" id="{{tag}}" name="{{tag}}" value="tagFilter">
<label class="btn btn-outline-primary m-1" for="{{tag}}">{{tag}}</label>
{% endfor %}
<button type="submit" class="btn btn-primary ms-auto">Filter</button>
</div>
<div class="form-text">Please select one or more tags to show associated music.</div>
</form>

<form action="/newmusic" method="POST">
  {% if newMusicList %}
  <div class="m-3">
<select name="addToPlaylistSelect" class="form-select">
  <option value="newPlaylist">Add to New Playlist</option>
  <option value="existingPlaylist">Add to Existing Playlist</option>
</select>

<input type="text" id="newPlaylistName">
</div>
{% endif %}
<table data-toggle="table" class="mb-5">
  <thead>
    <tr>
      <th data-sortable="false">Album Art</th>
      <th data-sortable="true">Artist Name</th>
      <th data-sortable="true">Album Name</th>
      <th data-sortable="true" id="defaultsort">Release Date</th>
      <th data-sortable="true">Album Type</th>
      <th data-sortable="true">Tag</th>
      <th data-sortable="true">Add to Playlist</th>
    </tr>
  </thead>
  <tbody>
    {% for newMusic in newMusicList %}
    <!-- <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
    <label class="btn btn-outline-primary" for="btn-check-outlined"> -->
      
    <tr>
      <td>
        <img src="{{newMusic.picture}}" style="width:100px;height:100px"></a>
      </td>
      <td>{{newMusic.artistName}}</td>
      <td>{{newMusic.albumName}}</td>
      <td>{{newMusic.date}}</td>
      <td>{{newMusic.type}}</td>
      <td>{{newMusic.tag}}</td>
      
      <td><div class="d-flex justify-content-center"><input type="checkbox" class="btn-check" id="{{newMusic.albumID}}" name="{{newMusic.albumID}}" value="albumID" autocomplete="off">
      <label class="btn btn-outline-primary m-3 btn-lg" for="{{newMusic.albumID}}" name="{{newMusic.albumID}}">Add</label></div></td>
    
    {% endfor %}
  </tbody>
</table>
{% if newMusicList %}
<div class="m-3" style="position:fixed; bottom:3px; right:3px">
  <button type="submit" class="btn btn-primary btn-lg m-3" type="submit">Submit</button>
</div>
{% endif %}
</form>
<br>
<br>
<br>
<!-- </form> -->

<script>
function testFunction() {
  var x = document.getElementById("addToPlaylistSelect").value;
  var y = document.getElementById("newPlaylistName")
  if (x === "addToNewPlaylist") {
    y.style.display = "block";
  }
  else {
    y.style.display = "none";
  }
}
</script>
</body>
{% endblock %}
