{% extends "base.html" %} {% block title %}
<title>New Music</title>
<head>
  
  <!-- <style>
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: lightgreen;
  }
</style> -->
<!-- <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script>
// $(document).ready(function() {
//   $(".select-row").click(function() {
//     // $(".select-row").hide();
//     alert("The table row was clicked.");
//   });
//   });
$(document).ready(function () {
        $(".select-row").click(function () {
          $(".select-row").hide();
        });
      });

$('#table').on('click-row.bs.table', function (e, row, $element, field) {
  $(row).hide();
})
</script> -->
</head>
{% endblock %} {% block content %}
<body onload="clicker()">
<h1 class="m-3 text-center">New Music</h1>
{% if not newMusicList %}
<p class="m-3 text-center select-row">
  Please add artists to track either by 
  <a href="track-artists">playlist</a> or <a href="track">individually</a>.
</p>
{% endif %}
<!-- <form action="#" method="POST"> -->
  <form action="/newmusic" method="post">
<table data-toggle="table" class="mb-5">
  <thead>
    <tr>
      <th data-sortable="false">Album Art</th>
      <th data-sortable="true">Artist Name</th>
      <th data-sortable="true">Album Name</th>
      <th data-sortable="true" id="defaultsort">Release Date</th>
      <th data-sortable="true">Album Type</th>
      <th data-sortable="true">Flag</th>
    </tr>
  </thead>
  <tbody>
    {% for newMusic in newMusicList %}
    <!-- <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
    <label class="btn btn-outline-primary" for="btn-check-outlined"> -->
    <tr>
      <td>
        <img src="{{newMusic.picture}}" style="width:100px;height:100px"></a>
      </td>
      <td>{{newMusic.artistName}}</td>
      <td>{{newMusic.albumName}}</td>
      <td>{{newMusic.date}}</td>
      <td>{{newMusic.type}}</td>
      <td><input type="checkbox" class="btn-check" id="{{newMusic.albumID}}" name="{{newMusic.albumID}}" autocomplete="off">
      <label class="btn btn-outline-primary" for="{{newMusic.albumID}}" name="{{newMusic.albumID}}">Flag</label></td>
    </tr>

  <!-- </label> -->
    {% endfor %}

    <!-- <tr>
      <td>Cannonball Adderley</td>
    </tr> -->
  </tbody>
</table>
<button type="submit" class="btn btn-primary m-3" type="submit" style="position:fixed; bottom:3px;right:3px" >Submit</button>
</form>
<br>
<br>
<br>
<!-- </form> -->

<script>
// window.addEventListener("DOMContentLoaded", clicker() { 
//   document.getElementById("defaultsort").click()
// }, false);
</script>
</body>
{% endblock %}
