{% extends "base.html" %} {% block title %}
<title>Sign Up</title>
{% endblock %} {% block content %}
<form action="#" method="POST" style="margin: auto; width: 50%;">
    <fieldset>
        <legend style="text-align: center">Sign Up</legend>
    <div class="mb-3">
    <label for="username" class="form=label">Username</label>
        <input type="text" class="form-control" id="username" name="username"></input>
    </div>
    <div class="mb-3">
        <label for="displayname" class="form=label">Display Name</label>
            <input type="text" class="form-control" id="displaayname" name="displayname"></input>
        </div>
    <div class="mb-3">
        <label for="password1" class="form=label">Password</label>
        <input type="password" class="form-control" id="password1" name="password1"></input>
    </div>
    <div class="mb-3">
        <label for="password2" class="form=label">Confirm Password</label>
    <input type="password" class="form-control" id="password2" name="password2"></input>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>  
    </div>
</fieldset>
</form>
{% endblock %}
