{% extends "base.html" %} {% block title %}
<title>Home</title>
{% endblock %} {% block content %}
<form action="#" method="POST" style="margin: auto">
  <div class="input-group mb-3">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Artist Name"
      aria-label="Search"
      name="search"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </div>
</form>

<!-- <legend style="text-align: center">Add Artists</legend>
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Artist Name"
            aria-label="Search"
            name="search"
          />
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </div>
      </div>
    </div> -->

{% for searchResultItem in searchResultList %}
<ul class="list-group list-group-horizontal">
  <img
    src="{{searchResultItem.picture}}"
    class="list-group-item list-group-item-action"
  />
  <a
    href="{{searchResultItem.link}}"
    class="list-group-item list-group-item-action"
    >{{searchResultItem.name}}</a
  >
</ul>
{% endfor %}

<!-- <ul class="list-group list-group-horizontal">
  <a href="#" class="list-group-item list-group-item-action">test</a>
  <a href="#" class="list-group-item list-group-item-action">test</a>
</ul> -->

{% endblock %}
