{% extends "base.html" %} {% block title %}
<title>Track Artists</title>
<h1 class="m-3">Track Artists From Playlist</h1>
{% endblock %} {% block content %}
<p class="m-3">Please select a playlist of yours.</p>

<div class="d-flex justify-content-evenly">
  <table data-toggle="table">
    <thead>
      <th data-width="100">Playlist Art</th>
      <th data-width="1000" data-width-unit="px" data-halign="left">Name</th>
    </thead>
    <tbody>
      {% for playlist in userPlaylistsEven %}
      <tr>
        <td>
          {% if not playlist.image %}
          <p>No Album Art</p>
          {% else %}
          <img
            src="{{playlist.image}}"
            alt="Album Art"
            width="100"
            height="100"
          />
          {% endif %}
        </td>
        <td>
          <form action="/track-artists-callback" method="POST">
            <div class="row">
              <h5
                class="col"
                style="
                  display: flex;
                  justify-content: left;
                  align-items: center;
                "
              >
                {{playlist.name}}
              </h5>
              <input type="hidden" name="{{playlist.playlistID}}" />
              <input type="hidden" name="{{playlist.tracks}}" />
              <button
                type="submit"
                class="btn btn-outline-primary col-auto m-3"
                style="
                  display: flex;
                  justify-content: right;
                  align-items: center;
                "
              >
                Select
              </button>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <table data-toggle="table">
    <thead>
      <th data-width="100">Playlist Art</th>
      <th data-width="1000" data-width-unit="px" data-halign="left">Name</th>
    </thead>
    <tbody>
      {% for playlist in userPlaylistsOdd %}
      <tr>
        <td>
          {% if not playlist.image %}
          <p>No Album Art</p>
          {% else %}
          <img
            src="{{playlist.image}}"
            alt="Album Art"
            width="100"
            height="100"
          />
          {% endif %}
        </td>
        <td>
          <form action="/track-artists-callback" method="POST">
            <div class="row">
              <h5
                class="col"
                style="
                  display: flex;
                  justify-content: left;
                  align-items: center;
                "
              >
                {{playlist.name}}
              </h5>
              <input type="hidden" name="{{playlist.playlistID}}" />
              <input type="hidden" name="{{playlist.tracks}}" />
              <button
                type="submit"
                class="btn btn-outline-primary col-auto m-3"
                style="
                  display: flex;
                  justify-content: right;
                  align-items: center;
                "
              >
                Select
              </button>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
