{% extends "base.html" %} {% block title %}
<title>Home</title>
{% endblock %} {% block content %}
<form action="#" method="POST" class="m-3">
  <div class="input-group">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Artist Name"
      aria-label="Search"
      name="search"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </div>
</form>

<!-- <legend style="text-align: center">Add Artists</legend>
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Artist Name"
            aria-label="Search"
            name="search"
          />
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </div>
      </div>
    </div> -->

{% for searchResultItem in searchResultList %}
<ul class="list-group list-group-horizontal">
  <img
    src="{{searchResultItem.picture}}"
    class="list-group-item list-group-item-action"
    style="height: 200px; width: 200px"
  />
  <form action="#" method="POST">
    <ul class="list-group">
      <h5 class="m-3">{{searchResultItem.name}}</h5>
      <a href="{{searchResultItem.link}}" class="mx-3">Spotify Link</a>
      <input type="hidden" name="{{searchResultItem.name}}" />
      <button type="submit" class="btn btn-outline-primary m-3">
        Add Artist
      </button>
    </ul>
  </form>

  <!-- <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>{{searchResultItem.name}}</h5>
    </div>
     -->
</ul>
{% endfor %}

<!-- <ul class="list-group list-group-horizontal">
  <a href="#" class="list-group-item list-group-item-action">test</a>
  <a href="#" class="list-group-item list-group-item-action">test</a>
</ul> -->

{% endblock %}
